/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* .weather-header {
    margin: 10px;
    padding: 5px;
    background-color: rgb(74, 74, 252);
    color: white;
    text-align: center;
    line-height: 1.5;
    font-size: 20px;
}

.btn {
    background-color: rgb(74, 74, 252);
    color: white;
    padding: 6px 5px;
    display: block;
    width: 9.4%;
    font-size: 1.4rem;
}

.form-input {
    padding: 3px;
    margin: 5px 0;
    font-size: 1.4rem;
    border: 3px solid darkblue;
    border-radius: .3rem;
} */

#history-container {
    display: flexbox;
    flex-direction: column;
    justify-content: space-evenly;
}

#history-container button {
    min-width: 250px !important;
    width: 250px;
    font-size: medium;
}